* {
  margin: 0;
  padding: 0;
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  box-sizing: border-box; }

#container {
  width: 70%;
  margin: 50px auto; }

.header {
  display: flex;
  justify-content: space-between; }
  .header .left {
    display: flex; }
    .header .left .ds-circle {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background: black;
      color: white;
      font-size: 25px;
      position: relative; }
      .header .left .ds-circle :nth-child(1) {
        position: absolute;
        top: 22%;
        left: 25%; }
      .header .left .ds-circle :nth-child(2) {
        position: absolute;
        top: 50%;
        left: 60%; }
      .header .left .ds-circle::before {
        content: "";
        width: 80px;
        height: 3px;
        background: white;
        position: absolute;
        top: 50%;
        left: 15%;
        transform: rotate(125deg); }
    .header .left .name {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
  .header .right h2 {
    border-bottom: 3px solid;
    margin-bottom: 10px; }

.experience > h3 {
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.experience ul {
  margin: 15px 0;
  border-left: 1px solid;
  list-style: none; }
  .experience ul li {
    line-height: 1.5;
    position: relative;
    padding-left: 30px; }
    .experience ul li::after {
      content: "";
      position: absolute;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: black;
      left: -5px;
      top: 0; }
    .experience ul li h3 {
      margin: 20px 0; }
      .experience ul li h3 .time {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.3); }

.education > h3 {
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.education ul {
  margin: 15px 0;
  border-left: 1px solid;
  list-style: none; }
  .education ul li {
    line-height: 1.5;
    position: relative;
    padding-left: 30px; }
    .education ul li::after {
      content: "";
      position: absolute;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: black;
      left: -5px;
      top: 0; }
    .education ul li h3 {
      margin: 20px 0; }
      .education ul li h3 .time {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.3); }

.extra {
  display: flex; }
  .extra h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    margin-top: 20px;
    width: 70%; }
  .extra h4 {
    margin: 20px 0; }
  .extra .volunteers {
    flex: 1; }
    .extra .volunteers .volunteer {
      position: relative;
      padding-left: 60px; }
      .extra .volunteers .volunteer::after {
        content: "+";
        border: 1px solid;
        position: absolute;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0; }
  .extra .skills {
    flex: 1; }
    .extra .skills .skill-item {
      display: flex;
      flex-wrap: wrap; }
      .extra .skills .skill-item .skill {
        flex: 50%;
        position: relative;
        padding-left: 60px;
        margin: 20px 0; }
        .extra .skills .skill-item .skill::after {
          content: "+";
          border: 1px solid;
          position: absolute;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          left: 0;
          top: 0; }
