html,body {
    height: 100vh;
}
body {
    background: rgb(244, 244, 244);
    box-sizing: border-box;
    margin: 0;
}
.content {
    width:50vw;
    height:100vh;
    margin:0 auto;
    text-align: center;
    #paly,[type="radio"] {
        margin: 20px 10px 0 0;
    }
    .scene {
       perspective: 1000px;
       height: 90%;
       .cube {
           margin-top: 100px;
           position: relative;
           height: 300px;
           width: inherit;
           transform-style: preserve-3d;
           transition:all 0.85s cubic-bezier(0.175, 0.885, 0.320, 1.275);
           transform: rotateZ(15deg);
           .cube-face {
               display: flex;
               justify-content: center;
               align-items: center;
               position: absolute;
               top: 30%;
               left: 40%;
               transform: translate(-50%,-50%);
               font-size: 120px;
               border-radius: 50%;
               opacity: 0.9;
               background: rgb(248, 248, 248);
               border: 1px solid rgb(204, 204, 204);
               box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.1);
           }
           .cube-face-front {
                transform: translateZ(90px)
           }
           .cube-face-back {
                transform: translateZ(-90px)
           }
           .cube-face-left {
                transform: rotateY(90deg)translate3d(0,0,90px)
           }
           .cube-face-right {
                transform: rotateY(-90deg)translate3d(0,0,90px)
           }
           .cube-face-top {
                transform: rotateX(90deg)translate3d(0,0,90px)
           }
           .cube-face-bottom {
                transform: rotateX(-90deg)translate3d(0,0,90px)
           }
       }
    }
}
.content {
    #radio-back:checked~ .scene .cube {
        transform: rotateY(180deg)rotateZ(15deg)
    }
    #radio-left:checked~ .scene .cube {
        transform: rotateY(-90deg)rotateZ(15deg)
    }
    #radio-right:checked~ .scene .cube {
        transform: rotateY(90deg)rotateZ(15deg)
    }
    #radio-top:checked~ .scene .cube {
        transform: rotateX(-90deg)rotateZ(15deg)
    }
    #radio-bottom:checked~ .scene .cube {
        transform: rotateX(90deg)rotateZ(15deg)
    }
    @keyframes rotating {
        0% {
            
        }
        2% {
            transform: rotateX(-15deg) rotateY(15deg);
          }
          15% {
            transform: rotateX(15deg) rotateY(195deg);
          }
          17% {
            transform: rotateX(15deg) rotateY(195deg);
          }
          32% {
            transform: rotateX(-15deg) rotateY(75deg);
          }
          34% {
            transform: rotateX(-15deg) rotateY(75deg);
          }
          49% {
            transform: rotateX(15deg) rotateY(-75deg);
          }
          51% {
            transform: rotateX(15deg) rotateY(-75deg);
          }
          66% {
            transform: rotateY(15deg) rotateX(-105deg);
          }
          68% {
            transform: rotateY(15deg) rotateX(-105deg);
          }
          83% {
            transform: rotateY(-15deg) rotateX(105deg);
          }
          85% {
            transform: rotateY(-15deg) rotateX(105deg);
          }
          98% {
            transform: rotateX(-15deg) rotateY(15deg);
          }
          100% {
            transform: rotateX(-15deg) rotateY(15deg);
          }
    }
    #play:checked~.scene .cube {
        animation-name:rotating;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }
}